<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>WeixinTest2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>CorpWeixinServlet</servlet-name>
    <servlet-class>com.weixin.corp.main.CorpWeixinServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>CorpWeixinServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.weixin.corp.main.UploadServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/uploadServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>  
        <servlet-name>timerTaskServlet</servlet-name>  
        <servlet-class>  
            com.weixin.corp.main.TimerTaskServlet
        </servlet-class>  
        <!-- 配置获取access_token所需参数appid和appsecret -->  

<!-- real_account
	    <init-param>  
            <param-name>appid</param-name>
            <param-value>wxcdfcd140645e6fe7</param-value>
        </init-param>  
        <init-param>  
            <param-name>appsecret</param-name>
            <param-value>652dcb6849be43fdbfdb28769eb1430a</param-value>  
        </init-param>
 -->

<!-- test_account 
	    <init-param>  
            <param-name>appid</param-name>
            <param-value>wx168dbadda799a989</param-value>  
        </init-param>  
        <init-param>  
            <param-name>appsecret</param-name>
            <param-value>0cb2de6f5e25137e0ffe03e32d05ff04</param-value>  
        </init-param>
  -->
 
 <!-- corp_account -->
	    <init-param>  
            <param-name>appid</param-name>
            <param-value>wx522a5f82e335b883</param-value>
        </init-param>
        <init-param>
            <param-name>appsecret</param-name>
            <param-value>LSBRNWP6sptVw2QLoY8lpFytYQsd1PE5Oy-OyL7oiqtCSbZbRflta3IrkkJfO7c7</param-value>  
        </init-param>
        <init-param>
        	<param-name>aeskey</param-name>
        	<param-value>nh5DkevVih58uqmiDSWqnql6hamyMl7pBK6DiwLdjgR</param-value>
        </init-param>
        <init-param>
            <param-name>token</param-name>
            <param-value>weixin</param-value>  
        </init-param>
<!-- 企业号下某个应用，目前只用1个，如果用多个可能就不能配死了 -->
        <init-param>
        	<param-name>agentid</param-name>
        	<param-value>9</param-value>
        </init-param>

 
        <load-on-startup>0</load-on-startup>  
    </servlet>
    
     <servlet>
		<servlet-name>menuServlet</servlet-name>
		<servlet-class>com.weixin.corp.main.MenuServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>menuServlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<servlet-name>userServlet</servlet-name>
		<servlet-class>com.weixin.corp.main.UserServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>userServlet</servlet-name>
		<url-pattern>/userServlet</url-pattern>
	</servlet-mapping>
	
		<!--Axis2 config start -->
	<servlet>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
    
</web-app>
